body {
  padding-top: 50px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 70%;
  background-color:#000000;
  height: 1px;
}

.jumbotron {
  background-color: #FFA347;
}

.jumbotron .name {
  text-align: center;
  color: white;
}


#about {
  text-align: center;
}


#experience {
  text-align: center;
}


#education {
  text-align: center;
}


#connect {
  text-align: center;
}
.connect-sub {
  margin-bottom: 10px;
}
i {
  width: 60px;
  height: 60px;
  color: black;
  border: solid black 2px;
  border-radius: 60px;
  margin-bottom: 10px;
}
i:hover {
  color: orange;
  border: solid orange 2px;
}
i.github {
  padding-top: 7px;
}
i.twitter {
  padding-top: 7px;
}
i.stack-overflow {
  padding-top: 6px;
}
i.linkedin {
  padding-top: 7px;
}
i.google-plus {
  padding-top: 8px;
}
i.facebook {
  padding-top: 8px;
}
