a:hover, a:link {
  text-decoration: none;
}

.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
  z-index: 10000;
  height: 130px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
  width: 95%;
  margin: 0 auto;
  padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
  display: inline-block;
  position: relative;
}

.cbp-af-header .logo,
.cbp-af-header nav a {
  line-height: 130px;
}

.cbp-af-header .logo {
  color: #aaa;
  letter-spacing: 4px;
  font-size: 4em;
  margin: 0;
  float: left;
}
.cbp-af-header .logo > img {
  max-width:100%;
  max-height: 100%;
}

.cbp-af-header nav {
  float: right;
}

.cbp-af-header nav a {
  color: #aaa;
  font-weight: 700;
  margin: 0 0 0 20px;
  font-size: 1.4em;
}

.cbp-af-header .logo:hover,
.cbp-af-header nav a:hover {
  color: #e0dede;
}

/* Transitions and class for reduced height */
.cbp-af-header .logo,
.cbp-af-header nav a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
  height: 70px;
  background-color: #23324B;
}

.cbp-af-header.cbp-af-header-shrink .logo,
.cbp-af-header.cbp-af-header-shrink nav a {
  line-height: 70px;
}

.cbp-af-header.cbp-af-header-shrink .logo {
  color: #c8c8c8;
  font-size: 2em;
  font-weight: 500;
}

/* Example Media Queries */
@media screen and (max-width: 767px) {
  .cbp-af-header .cbp-af-inner {
    width: 100%;
    height: 90px;
  }

  .cbp-af-header,
  .cbp-af-header nav {
    display: block;
    text-align: center;
    float: none;
  }
  .cbp-af-header .logo {
    display: none;
  }

  .cbp-af-header .logo,
  .cbp-af-header nav a {
    line-height: 90px;
  }

  .cbp-af-header nav a {
    margin: 0 4vw;
    font-size: 3vw;
  }

  .cbp-af-header.cbp-af-header-shrink {
    height: 100px;
  }

  .cbp-af-header.cbp-af-header-shrink .logo {
    display: block;
    font-size: 3em;
    height: 50px;
    float: none;
  }
  .cbp-af-header.cbp-af-header-shrink nav a {
    font-size: 3vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .cbp-af-header {
    height: 100px;
  }
  .cbp-af-header .logo,
  .cbp-af-header nav a {
    line-height: 100px;
  }

  .cbp-af-header .cbp-af-inner {
    width: 100%;
  }
  .cbp-af-header .logo {
    font-size: 3em;
  }
  .cbp-af-header nav a {
    font-size: 1.2em;
    margin: 0 0 0 10px;
  }
}


hr {
  border: 0;
  clear:both;
  display:block;
  width: 70%;
  background-color:#000000;
  height: 1px;
}

.jumbotron .name {
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  text-shadow: 2px 2px #000000;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .jumbotron {
    background-image: url("images/billboard-sm.jpg");
    background-size: cover;
    background-position: top;
    padding-top: 25%;
    padding-bottom: 50%;
  }
  .jumbotron .name {
    font-size: 10vw;
  }
}
@media screen and (min-width: 768px) {
  .jumbotron {
    background-image: url("images/billboard-lg.jpg");
    background-size: cover;
    background-position: center;
    letter-spacing: 4px;
    padding-top: 15%;
    padding-bottom: 25%;
  }
  .jumbotron .name {
    font-size: 98px;
  }
}


#about {
  text-align: center;
}


#experience {
  text-align: center;
}


#education {
  text-align: center;
}


#connect {
  text-align: center;
}
.connect-sub {
  margin-bottom: 10px;
}
i {
  width: 60px;
  height: 60px;
  color: black;
  border: solid black 2px;
  border-radius: 60px;
  margin-bottom: 10px;
}
i:hover {
  color: #23324B;
  border: solid #23324B 2px;
}
i.github {
  padding-top: 7px;
}
i.twitter {
  padding-top: 7px;
}
i.stack-overflow {
  padding-top: 6px;
}
i.linkedin {
  padding-top: 7px;
}
i.google-plus {
  padding-top: 8px;
}
i.facebook {
  padding-top: 8px;
}
