@import url("http://fonts.googleapis.com/css?family=Raleway:400,200");
body {
  font-family: 'Raleway', sans-serif;
  background-color: #131b2a; }
  body p, body h1, body h2, body h3, body h4, body h5, body nav {
    cursor: default; }
  body a:hover, body a:link {
    text-decoration: none; }

hr {
  display: block;
  width: 70%;
  height: 1px;
  border: 0;
  background-color: #000000;
  clear: both; }

.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: block;
  width: 100%;
  height: 120px;
  background: none;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s; }
  .cbp-af-header .cbp-af-inner {
    width: 95%;
    padding: 0 1.875em;
    margin: 0 auto; }
  .cbp-af-header h1 {
    position: relative;
    display: inline-block; }
  .cbp-af-header nav {
    float: right;
    position: relative;
    display: inline-block; }
    .cbp-af-header nav a {
      margin: 0 0 0 20px;
      line-height: 120px;
      color: #aaa;
      font-weight: 700;
      font-size: 1.4em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
      .cbp-af-header nav a:hover {
        color: #e0dede; }
  .cbp-af-header .logo {
    float: left;
    margin: 0;
    line-height: 120px;
    color: #aaa;
    letter-spacing: 3px;
    font-size: 3.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .cbp-af-header .logo:hover {
      color: #e0dede; }
  .cbp-af-header.cbp-af-header-shrink {
    height: 70px;
    background-color: #131b2a; }
    .cbp-af-header.cbp-af-header-shrink .logo {
      color: #c8c8c8;
      line-height: 70px;
      font-size: 2.5em;
      font-weight: 500; }
    .cbp-af-header.cbp-af-header-shrink nav a {
      line-height: 70px; }

#navbar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  margin-bottom: 0; }

.jumbotron {
  height: 100vh;
  padding-top: 15%;
  padding-bottom: 25%;
  margin-bottom: 0;
  background-image: url("../images/billboard-lg.jpg");
  background-size: cover;
  background-position: center;
  letter-spacing: 4px; }
  .jumbotron .name {
    padding-top: 10vh;
    color: white;
    font-size: 98px;
    font-weight: 100;
    text-shadow: 2px 2px #000000;
    text-align: center; }

@media screen and (max-width: 767px) {
  .cbp-af-header {
    display: none; }

  #navbar-collapse {
    display: block; }

  .jumbotron {
    height: 100%;
    background-image: url("../images/billboard-sm.jpg");
    background-size: cover;
    background-position: top;
    letter-spacing: 1px; }
    .jumbotron .name {
      font-size: 14vw; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .cbp-af-header {
    height: 100px; }
    .cbp-af-header .logo {
      line-height: 100px;
      font-size: 3em; }
    .cbp-af-header nav a {
      margin: 0 0 0 10px;
      line-height: 100px;
      font-size: 1.2em; }
    .cbp-af-header .cbp-af-inner {
      width: 100%; }

  .jumbotron {
    height: 100vh;
    background-image: url("../images/billboard-sm.jpg");
    background-size: cover;
    background-position: top; }
    .jumbotron .name {
      padding-top: 20vh;
      font-size: 9vw; } }
.anchor {
  position: relative;
  top: -70px;
  display: block;
  visibility: hidden; }
  @media screen and (max-width: 767px) {
    .anchor {
      top: 0; } }

.container {
  width: 100%;
  margin: 50px 10px; }

section {
  position: relative;
  display: flex;
  min-height: calc(100vh - 70px);
  color: #cbcbcb;
  align-items: center; }
  @media screen and (max-width: 767px) {
    section {
      min-height: 100vh; } }
  section h1 {
    margin-top: 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px; }
  section p {
    font-size: 17px;
    line-height: 1.6em; }
  section.about {
    background: #4F6A82;
    background: -webkit-linear-gradient(#4F6A82, #445d7f);
    background: -o-linear-gradient(#4F6A82, #445d7f);
    background: -moz-linear-gradient(#4F6A82, #445d7f);
    background: linear-gradient(#4F6A82, #445d7f); }
    section.about .container {
      margin-left: 30px;
      margin-right: 30px; }
    section.about #pic-container-lg, section.about #pic-container-sm {
      position: relative; }
      section.about #pic-container-lg #profile-pic, section.about #pic-container-sm #profile-pic {
        background-image: url("../images/profile-pic.jpg");
        background-position: center;
        background-repeat: none;
        background-size: cover; }
        @media screen and (max-width: 767px) {
          section.about #pic-container-lg #profile-pic, section.about #pic-container-sm #profile-pic {
            position: absolute;
            top: 50%;
            width: 150px;
            height: 150px;
            margin-left: -75px;
            margin-top: -75px;
            border-radius: 50%;
            left: 50%; } }
        @media screen and (min-width: 768px) {
          section.about #pic-container-lg #profile-pic, section.about #pic-container-sm #profile-pic {
            position: absolute;
            top: 50%;
            width: 250px;
            height: 250px;
            margin-left: -125px;
            margin-top: -125px;
            border-radius: 50%;
            left: 60%; } }
    section.about #pic-container-sm {
      min-height: 200px;
      margin-bottom: 15px; }
    @media screen and (max-width: 767px) {
      section.about {
        text-align: center; }
        section.about #pic-container-lg {
          display: none; }
        section.about #pic-container-sm {
          display: block; } }
    @media screen and (min-width: 768px) {
      section.about {
        text-align: left; }
        section.about #pic-container-lg {
          display: block; }
        section.about #pic-container-sm {
          display: none;
          min-height: 0; } }
  section.experience {
    background: #32455e;
    background: -webkit-linear-gradient(#32455e, #324352);
    background: -o-linear-gradient(#32455e, #324352);
    background: -moz-linear-gradient(#32455e, #324352);
    background: linear-gradient(#32455e, #324352);
    text-align: center; }
    section.experience .transition {
      transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3); }
    section.experience ul {
      text-align: center; }
      section.experience ul .card-li {
        position: relative;
        height: 335px;
        width: 280px;
        margin: 12px 5px 0 5px; }
        section.experience ul .card-li .card {
          position: absolute;
          top: 20px;
          left: 0;
          height: 300px;
          width: 280px;
          background-color: #fff;
          box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.5);
          overflow: hidden; }
          section.experience ul .card-li .card:hover {
            height: 335px;
            top: 0; }
            section.experience ul .card-li .card:hover .cta-container {
              display: inline; }
            section.experience ul .card-li .card:hover .card_circle {
              border-radius: 0;
              margin-top: -115px; }
              section.experience ul .card-li .card:hover .card_circle.chapterbuilder {
                margin-top: 28px; }
              section.experience ul .card-li .card:hover .card_circle.frc_scout {
                margin-top: -90px; }
              section.experience ul .card-li .card:hover .card_circle.cerner {
                margin-top: 14px; }
              section.experience ul .card-li .card:hover .card_circle.jrl {
                margin-top: -90px; }
            section.experience ul .card-li .card:hover h2 {
              padding: 5px;
              margin-top: 100px;
              background: #23324B;
              color: #fff; }
              section.experience ul .card-li .card:hover h2 small {
                color: #fff; }
            section.experience ul .card-li .card:hover p.long {
              display: inherit; }
            section.experience ul .card-li .card:hover p.short {
              display: none; }
          section.experience ul .card-li .card p {
            position: absolute;
            z-index: 10;
            width: 100%;
            padding: 7px;
            color: rgba(0, 0, 0, 0.6);
            font-size: 1em;
            line-height: 1.45em;
            font-weight: normal;
            text-align: center; }
            section.experience ul .card-li .card p.short {
              margin-top: 200px; }
            section.experience ul .card-li .card p.long {
              display: none; }
              section.experience ul .card-li .card p.long.minerbytes {
                margin-top: 151px; }
              section.experience ul .card-li .card p.long.miner_threat {
                margin-top: 144px; }
              section.experience ul .card-li .card p.long.carfax {
                margin-top: 158px; }
              section.experience ul .card-li .card p.long.chapterbuilder {
                margin-top: 152px; }
              section.experience ul .card-li .card p.long.frc_scout {
                margin-top: 160px; }
              section.experience ul .card-li .card p.long.cerner {
                margin-top: 155px; }
              section.experience ul .card-li .card p.long.jrl {
                margin-top: 165px; }
          section.experience ul .card-li .card .cta {
            display: inline-block;
            height: 36px;
            padding: 0 1rem;
            border: 2px solid #23324B;
            border-radius: 2px;
            margin-bottom: 10px;
            color: #23324B;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: 0.5px;
            line-height: 35px;
            text-decoration: none;
            text-transform: uppercase;
            background-clip: padding-box;
            transition: 0.2s ease-out;
            -moz-transition: 0.2s ease-out;
            -ms-transition: 0.2s ease-out;
            -o-transition: 0.2s ease-out;
            -webkit-transition: 0.2s ease-out; }
            section.experience ul .card-li .card .cta:hover {
              color: #fff;
              background-color: #23324B;
              box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
          section.experience ul .card-li .card .card_circle {
            position: relative;
            height: 250px;
            width: 300px;
            border-radius: 50%;
            margin-left: -10px;
            margin-top: -120px;
            background-repeat: no-repeat;
            background-attachment: center;
            background-position: bottom;
            background-size: cover; }
            section.experience ul .card-li .card .card_circle.minerbytes {
              background-image: url("../images/minerbytes.png"); }
            section.experience ul .card-li .card .card_circle.miner_threat {
              background-image: url("../images/miner_threat.png"); }
            section.experience ul .card-li .card .card_circle.carfax {
              background-image: url("../images/carfax.png"); }
            section.experience ul .card-li .card .card_circle.chapterbuilder {
              height: 50px;
              width: 250px;
              border-radius: 0px;
              margin-left: 18px;
              margin-top: 37px;
              background-image: url("../images/chapterbuilder.png"); }
            section.experience ul .card-li .card .card_circle.frc_scout {
              background-image: url("../images/frc_scout.png"); }
            section.experience ul .card-li .card .card_circle.cerner {
              height: 70px;
              width: 250px;
              border-radius: 0px;
              margin-left: 18px;
              margin-top: 20px;
              background-image: url("../images/cerner.png"); }
            section.experience ul .card-li .card .card_circle.jrl {
              background-image: url("../images/jrl.png"); }
          section.experience ul .card-li .card h2 {
            position: absolute;
            z-index: 10;
            width: 100%;
            margin-top: 150px;
            color: #000000;
            font-size: 18pt;
            font-weight: 200;
            text-align: center; }
          section.experience ul .card-li .card .cta-container {
            position: absolute;
            z-index: 10;
            display: none;
            text-align: center; }
            section.experience ul .card-li .card .cta-container.minerbytes {
              margin-top: 279px;
              margin-left: -69px; }
            section.experience ul .card-li .card .cta-container.miner_threat {
              margin-top: 284px;
              margin-left: -50px; }
            section.experience ul .card-li .card .cta-container.chapterbuilder {
              margin-top: 265px;
              margin-left: -72px; }
            section.experience ul .card-li .card .cta-container.jrl {
              margin-top: 285px;
              margin-left: -62px; }
          @media screen and (max-width: 767px) {
            section.experience ul .card-li .card {
              height: 335px; }
              section.experience ul .card-li .card:hover {
                top: 20px; }
              section.experience ul .card-li .card .cta-container {
                display: inline; }
              section.experience ul .card-li .card .card_circle {
                border-radius: 0; }
                section.experience ul .card-li .card .card_circle.miner_threat, section.experience ul .card-li .card .card_circle.carfax, section.experience ul .card-li .card .card_circle.minerbytes {
                  margin-top: -115px; }
                section.experience ul .card-li .card .card_circle.chapterbuilder {
                  margin-top: 28px; }
                section.experience ul .card-li .card .card_circle.frc_scout, section.experience ul .card-li .card .card_circle.jrl {
                  margin-top: -90px; }
                section.experience ul .card-li .card .card_circle.cerner {
                  margin-top: 14px; }
              section.experience ul .card-li .card h2 {
                padding: 5px;
                margin-top: 100px;
                color: #fff;
                background: #23324B; }
                section.experience ul .card-li .card h2 small {
                  color: #fff; }
              section.experience ul .card-li .card p.long {
                display: inherit; }
              section.experience ul .card-li .card p.short {
                display: none; } }
  section.education {
    text-align: center;
    background: #4F6A82;
    background: -webkit-linear-gradient(#4F6A82, #3f608d);
    background: -o-linear-gradient(#4F6A82, #3f608d);
    background: -moz-linear-gradient(#4F6A82, #3f608d);
    background: linear-gradient(#4F6A82, #3f608d); }
    section.education ul {
      margin-top: 30px; }
      section.education ul li {
        margin-top: 10px; }
        section.education ul li img {
          height: 150px;
          width: 90px; }
  section.connect {
    text-align: center;
    background-color: #2f486a; }
    section.connect .connect-sub {
      margin-bottom: 10px; }
    section.connect i {
      width: 60px;
      height: 60px;
      border: solid #cbcbcb 2px;
      border-radius: 60px;
      margin-bottom: 10px;
      color: #cbcbcb;
      text-align: center; }
      section.connect i:hover {
        border: solid #b2b2b2 2px;
        color: #b2b2b2; }
      section.connect i.github {
        padding-top: 7px;
        padding-left: 1px; }
      section.connect i.twitter, section.connect i.linkedin {
        padding-top: 7px; }
      section.connect i.stack-overflow, section.connect i.resume {
        padding-top: 6px; }
      section.connect i.google-plus {
        padding-top: 8px; }
      section.connect i.facebook {
        padding-top: 8px;
        padding-right: 3px; }

/*# sourceMappingURL=styling.css.map */
